table.schedule {
   padding-bottom:   1em;
   width:            100%;
   table-layout:     fixed;
}

table.schedule a:link {
   text-decoration:  none;
}

table.schedule div {
   text-align:       center;
}

table.schedule div.instructor {
   border-bottom:    1px dashed black;
}

table.schedule td {
   width:            20%;
   vertical-align:   top;
}

#body table.schedule th {
   vertical-align:   middle;
}

#body table.schedule th.location {
   text-align:       left;
   border:           2px solid black;
   font-weight:      bold;
   width:            20%;
}

#body table.schedule th.day {
   font-variant:     small-caps;
   width:            10%;
   overflow:         hidden;
   text-overflow:    '.';
}

table.schedule tr.blank {
   height:           1em;
   border:           none;
}

#body table.schedule th.right {
   text-align:       left;
}

table.schedule td.difficulty_easy {
   border:           0.25em solid yellow;
   background-color: #FFFFBB;
}

table.schedule td.difficulty_easy:not(.nohover):hover {
   border:           0.25em solid #333333;
}

table.schedule td.difficulty_medium {
   border:           0.25em solid magenta;
   background-color: #FFBBFF;
}

table.schedule td.difficulty_medium:not(.nohover):hover {
   border:           0.25em solid #333333;
}

table.schedule td.difficulty_hard {
   border:           0.25em solid black;
   background-color: #BBBBBB;
}

table.schedule td.difficulty_hard:not(.nohover):hover {
   border:           0.25em solid #333333;
}

table.schedule td.difficulty_all {
   border:           0.25em solid cyan;
   background-color: #BBFFFF;
}

table.schedule td.difficulty_all:not(.nohover):hover {
   border:           0.25em solid #333333;
}

table.schedule td.difficulty_unknown {
   border:           1px solid black;
   padding-top:          0.25em;
}

table.schedule td.difficulty_unknown:not(.nohover):hover {
   border:           1px solid #333333;
}

table.schedule td.difficulty_none {
   border:           0em;
}


