/*
 * Global styles
 */

body {
   display:          block;
   max-width:        1024px;
   margin:           1em;

   background-color: #DDFF88;
   font-family:      'Times', sans-serif;
   font-size:        medium;
   line-height:      1.5;
}

body img { border: 0; }

a:link {
  color:             #002288;
  text-decoration:   none;
}
a:visited {
   color:            #220088;
   text-decoration:  none;
}
a:hover { 
   color: #333333; 
   text-decoration:  underline;
}

/*
 * div ids
 */

#topcontent {
   position:         relative;
   height:           8em;

   background-color: white;
   line-height:      8em;
}

#banner-topcontent {
   position:         relative;
   border:           0.5em solid white;
   border-radius:    15px;
   padding:          0.5em;

   text-align:       center;
   max-height:       250px;
   text-align:       center;
}

#banner-topcontent img {
   max-width:        100%;
}

#body {
   position:         relative;
   margin-top:       1em;
   width:            100%;
}

#leftcontent {
   position:         absolute;
   top:              0;
   width:            10em;
}

#nav {
   margin-top:       1em;
   margin-bottom:    1em;
   width:            100%;
}

#news {
   margin-bottom:    1em;
   margin-right:     1em;
   padding:          0.5em;

   background-color: white;
}

#rightcontent {
   position:         absolute;
   top:              0;
   right:            0em;
   width:            10em;
   border:           2px solid #333333;
   padding:          0 0.5em;

   background-color: white;
   font-family:      sans-serif;
   font-size:        small;

}

#maincontent {
   position:         relative;
   margin-left:      10em;
   margin-right:     10em;
   border:           2px solid #333333;
   padding:          0.5em;

   background-color: white;
}

#announcement {
   margin:           0.5em;
   margin-bottom:    1em;
   border:           2px solid black;

   background-color: #DDFF88;
}

#bottomcontent {
   font-size:        80%;
   text-align:       center;
}

/*
 * Headers
 */

#topcontent h1 {
   text-align:       center;
   font-size:        2em;
}

#topcontent img {
   position:         absolute;
   right:            0em;
}

#rightcontent h2 {
   margin-top:       0;

   text-align:       center;
   background-color: #FFDD88;
}

#maincontent h2 {
   margin-top:       0;
   padding-left:     0.25em;

   text-align:       left;
   font-size:        150%;
   background-color: #FFDD88;
}

#news h3 { 
   margin:           0; 
   background-color: #FFDD88;
}

/*
 * Lists of page links
 */

#leftcontent img {
   vertical-align:   middle;
   padding-right:    0.25em;
}

#nav span {
   padding:          0.2em 0.5em;
   border-bottom:    2px solid #DDFF88;
   border-radius:    8px 0px 0px 8px;

   background-color: #FFDD88;
   font-variant:     small-caps;
   font-weight:      bold;
   text-align:       left;
   display:          block;
}

#horizontal_linklist {
   margin-bottom:    1.5em;

   background-color: #FFDD88;
   font-variant:     small-caps;
   font-weight:      bold;
   text-align:       center;
}

/*
 * Text
 */

p { margin-left: 2%; }

#leftcontent #news p {
   font-size:        small;
}

/*
 * Lists & Tables
 */

#maincontent .two-column {
   float:            left;
   min-width:        300px;
}

#maincontent .two-column li {
   float:            left;
   list-style-position: outside;
   min-width:        200px;
}

#maincontent dt {
   font-weight:      bold;
   padding-top:      0.5em;
}

#rightcontent dt {
   text-indent:      -1em;
   margin-left:      1em;
}

#maincontent table th {
   font-weight:      bold;
   text-align:       right;
   vertical-align:   top;
}

#maincontent table.vertical th {
   padding-right:    0.5em;
}

/*
 * Images
 */

#maincontent img.floating_image, iframe.floating_image {
   float:            right;
   width:            350px;
   max-width:        95%;
   margin:           1%;
   border:           1px solid black;
   padding:          1.5%;
}

#maincontent iframe {
   width:            640px;
   height:           390px;
   max-width:        100%;
}

div.banner_image {
   margin:           0.5em;
}

div.banner_image img {
   width:            100%;
}

/* Mobile devices */
@media screen and (max-device-width: 720px ) {
   #leftcontent {
      position:      static;
      width:         100%;
   }

   #nav span {
      border-radius: 8px;
      text-align:    center;
   }

   #news {
      margin-right:  0;
   }

   #rightcontent {
      position:      static;
      margin-top:    1em;
      width:         auto;
   }

   #maincontent {
      width:         auto;
      margin:        0;
   }

}
